@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.c11card{
    height: 249px;
    width: 177px;
    border: thick;
    font-family: 'Roboto';
    transform: translateX(408px);
    border: 2px solid;
    border-style: dashed;
    margin: 77px;
    margin-left: -31px;

	/*background:transparent;
	 -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      align-items: center;
     background-color: white;*/
}

.cardsprimary1{
	color: red;
}
.cardsprimary2{
	
    color: cornflowerblue;
}	
.cardsprimary3{
	color:#008b8b;
}	
.cardsprimary4{	
	color:#483d8b;
}	
.cardsprimary5{
  color:#228B22;
}
.main{
	display: inline-flex;
	justify-content:space-evenly;
	margin:40px; 
	margin:-21px;
	padding: 35px;
  margin-left: -248px;
}
.c11card:hover{	 
   -webkit-transition: all .6s ease;
    -moz-box-shadow: 0 0 10px #ccc;
    -w=ebkit-box-shadow: 0 0 10px #ccc;
     box-shadow: 0 0 10px #ccc;      
}
.cardmain01{
	display: flex;
	justify-content: center;
    margin-top:50px;
}
.sta891card1{
  color: red;
}
.sta891card2{
  color: cornflowerblue;
}
.sta891card3{
  color: #008b8b;
}
.sta891card4{
  color: #483d8b;
}
.sta891card5{
  color: #228b22;
}
