.progressMainWrapper {
  background-color: black;
  height: 15px;
  left: 0;
  width: 100%;
}

.App {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.progressMainStyle {
  height: 15px;
  background-color: #00cc83;
}
