@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.sta891NotificationBell{
	text-align: center;    
    float: right;
    font-size: x-large;
    margin-right: 64px;
    cursor: pointer;
}

.sta891NotiMain{
width: 400px;
    position: absolute;
    left: 1034px;
    z-index: 10;
    top: 133px;
    border: 6px solid azure;
    transition: 1000ms;
    background: white;
    border-radius: 22px;
   
    display: grid;
    overflow-y: scroll;
    height: 68vh;
}
   
.sta891NotiMainOn{
       left: 100%;
    width: 400px;
    position: fixed;
    top: 135px;
    z-index: 10;
    transition: 1000ms;
     display: grid;
    overflow-y: scroll;
    height: 68vh;
}
.sta891MapListIn{
	background:white;
	padding:0px;
	margin:0px;
	font-family: Roboto;
}
.sta891MaplistInner{
	    background: white;
    padding: 7px;
    font-family: Roboto;
   
    background:lavender;
}

.sta891MapDivOuter{
	background: lavender;
	    border-bottom: 2px solid black;
	    font-weight: 600;
	    border-radius: 12px;
}

.sta891mapListOut{
    display: flex;
    background: bottom;
    margin-left: 19px;
    font-size: 22px;
    font-weight: bold;
}